LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=
LINE_BASIC_ID=
NEXT_PUBLIC_LIFF_ID=
NEXT_PUBLIC_MGMT_LIFF_ID=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=
APP_URL=
ADMIN_PASSWORD=
